* {
    font-family: 'Microsoft YaHei UI';
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
    text-decoration: none;
}

p {
    word-wrap: break-word;
}

h1,
h2,
h3,
h4 {
    text-align: center;
}

ul li {
    list-style: none;
}

.container-fluid {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

.img-responsive {
    display: block;
    width: 100%;
    height: auto;
}

header {
    transition: all .5s;
}

nav.container {
    font-family: Microsoft YaHei;
    font-size: 18px;
    font-weight: bold;
    height: 60px;
}

nav li {
    float: left;
    margin-left: 15px;
    padding-top: 15px;
}

nav a {
    color: #fff;
}

header.blue-nav {
    background-color: #4cc4df;
}

header.orange-nav {
    background-color: rgb(224, 177, 77);
}

.logo {
    width: 71px;
    height: 60px;
    /*padding-top: 15px;*/
    background-image: url("../img/logo.png");
    background-size: cover;
}

section.s1 {
    background-image: url('../img/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
}

section.s1 h1,
section.s1 h3,
section.s1 h4 {
    color: #fff;
}

section.s1 h1 {
    font-weight: bold;
    margin-top: 100px;
}

section.s1 #more {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 40px 8px 40px;
    color: #fff;
    border-radius: 100px;
    background-color: #e0684d;
}

section.s1 .group-intro {
    min-height: 250px;
    margin-top: 80px;
    margin-bottom: 40px;
    border-top: 2px solid #e0b14d;
    border-right: 2px solid #4de068;
    border-bottom: 2px solid #4de068;
    border-left: 2px solid #e0b14d;
    border-radius: 35px;
    background-color: #fff;
}

section.s1 .group-intro-nav {
    position: absolute;
    top: -19%;
}

.group-intro-nav li {
    padding-bottom: 33.3333%;
    cursor: pointer;
    border-radius: 100px;
    background-position-y: 4px;
}

.group-intro-nav li:nth-of-type(1) {
    margin-left: 5%;
    background-image: url('../img/hlmj.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.group-intro-nav li:nth-of-type(2) {
    z-index: 5;
    margin-right: -5%;
    margin-left: -5%;
    background-image: url('../img/e4hv.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.group-intro-nav li:hover,
.group-intro-nav li.active {
    z-index: 10;
}

.group-intro-nav li:nth-of-type(3) {
    background-image: url('../img/nank.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.group-intro-nav li:nth-of-type(1):hover,
.group-intro-nav li:nth-of-type(1).active {
    background-image: url('../img/k4vz.png');
}

.group-intro-nav li:nth-of-type(2):hover,
.group-intro-nav li:nth-of-type(2).active {
    background-image: url('../img/hsyb.png');
}

.group-intro-nav li:nth-of-type(3):hover,
.group-intro-nav li:nth-of-type(3).active {
    background-image: url('../img/h7c7.png');
}


/*分组介绍*/

.group-intro-main {
    font-size: 15px;
    position: absolute;
    top: 19%;
    text-indent: 2em;
}

.group-intro-main li {
    transition: .3s;
    opacity: 0;
}

.group-intro-main li.animate {
    transition: .3s;
    opacity: 1;
}

.group-intro-main li.active {
    opacity: 1;
}

.group-intro-main #group1 h3 {
    color: #e0b14d;
}

.group-intro-main #group2 h3 {
    color: #5ecae3;
}

.group-intro-main #group3 h3 {
    color: #4de068;
}

section.s2 h1 img {
    width: 100%;
    height: auto;
    margin-top: 10%;
}

section.s2 .getMore {
    display: inline-block;
    margin-top: 5%;
    margin-bottom: 10%;
    padding-top: 3%;
    padding-right: 15%;
    padding-bottom: 3%;
    padding-left: 15%;
    border: 1px solid;
}

footer {
    text-align: center;
    color: white;
    background-color: #3f3f3f;
}


/*隔断导航*/

article.mt {
    margin-top: 60px;
}

/*栏目标题图*/
section.title-show img {
    width: 100%;
    height: auto;
}

/*文章列表*/

section.list h3 {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    border-bottom: 2px solid;
}

section.list ul {
    margin-top: 5px;
}

section.list li {
    padding-top: 35px;
    padding-bottom: 35px;
    border-bottom: 1px solid #d0d0d0;
}

section.list li:last-of-type {
    border-bottom: none;
}

section.list  img {
    width: 100%;
    height: 100%;
}

section.list .art-intro h4 {
    text-align: left;
    color: rgb(2, 204, 252);
}

#item .art-intro h4 {
    color: rgb(224, 177, 77);
}

section.list .art-intro p {
    margin-bottom: 5px;
}

/*视频*/
section.video {
    font-size: 0;
    background-color: #000;
    position: relative;
}

section .video-poster {
    position: absolute;
    top: 0;
    height: 100%;
    background-color: rgba(255,255,255,.2);
    visibility: hidden;
}
section .video-poster h1 {
    width: 10%;
    padding-bottom: 10%;
    top:35%;
    left:45%;
    position: relative;
    margin: 0;
    background-image: url('../img/play.png');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

/*关于页介绍模块*/
section.s3 h3 {
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
}

section.s3 p {
    margin-top: 10px;
    margin-bottom: 10px;
    text-indent: 2em;
}

.s3-title::before,
.s3-title::after {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 7px;
    content: '';
    vertical-align: super;
    background-color: rgb(224, 177, 77);
}

.s3-title::before {
    left: -90px;
}

.s3-title::after {
    right: -90px;
}
