<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.javatribe.dao.AboutImgCustomMapper" >
  <resultMap id="BaseResultMap" type="com.javatribe.pojo.AboutImg" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="about_img_id" property="aboutImgId" jdbcType="INTEGER" />
    <result column="photo" property="photo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, about_img_id, photo
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from about_img
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from about_img
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.javatribe.pojo.AboutImg" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into about_img (about_img_id, photo)
    values (#{aboutImgId,jdbcType=INTEGER}, #{photo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.javatribe.pojo.AboutImg" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into about_img
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="aboutImgId != null" >
        about_img_id,
      </if>
      <if test="photo != null" >
        photo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="aboutImgId != null" >
        #{aboutImgId,jdbcType=INTEGER},
      </if>
      <if test="photo != null" >
        #{photo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.javatribe.pojo.AboutImg" >
    update about_img
    <set >
      <if test="aboutImgId != null" >
        about_img_id = #{aboutImgId,jdbcType=INTEGER},
      </if>
      <if test="photo != null" >
        photo = #{photo,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.javatribe.pojo.AboutImg" >
    update about_img
    set about_img_id = #{aboutImgId,jdbcType=INTEGER},
      photo = #{photo,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>