<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.javatribe.dao.HomeMapper" >
  <resultMap id="BaseResultMap" type="com.javatribe.pojo.Home" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="home_id" property="homeId" jdbcType="INTEGER" />
    <result column="project_img" property="projectImg" jdbcType="VARCHAR" />
    <result column="group_img" property="groupImg" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.javatribe.pojo.Home" extends="BaseResultMap" >
    <result column="tribe_intro" property="tribeIntro" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, home_id, project_img, group_img
  </sql>
  <sql id="Blob_Column_List" >
    tribe_intro
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from home
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from home
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.javatribe.pojo.Home" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into home (home_id, project_img, group_img, 
      tribe_intro)
    values (#{homeId,jdbcType=INTEGER}, #{projectImg,jdbcType=VARCHAR}, #{groupImg,jdbcType=VARCHAR}, 
      #{tribeIntro,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.javatribe.pojo.Home" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into home
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="homeId != null" >
        home_id,
      </if>
      <if test="projectImg != null" >
        project_img,
      </if>
      <if test="groupImg != null" >
        group_img,
      </if>
      <if test="tribeIntro != null" >
        tribe_intro,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="homeId != null" >
        #{homeId,jdbcType=INTEGER},
      </if>
      <if test="projectImg != null" >
        #{projectImg,jdbcType=VARCHAR},
      </if>
      <if test="groupImg != null" >
        #{groupImg,jdbcType=VARCHAR},
      </if>
      <if test="tribeIntro != null" >
        #{tribeIntro,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.javatribe.pojo.Home" >
    update home
    <set >
      <if test="homeId != null" >
        home_id = #{homeId,jdbcType=INTEGER},
      </if>
      <if test="projectImg != null" >
        project_img = #{projectImg,jdbcType=VARCHAR},
      </if>
      <if test="groupImg != null" >
        group_img = #{groupImg,jdbcType=VARCHAR},
      </if>
      <if test="tribeIntro != null" >
        tribe_intro = #{tribeIntro,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.javatribe.pojo.Home" >
    update home
    set home_id = #{homeId,jdbcType=INTEGER},
      project_img = #{projectImg,jdbcType=VARCHAR},
      group_img = #{groupImg,jdbcType=VARCHAR},
      tribe_intro = #{tribeIntro,jdbcType=LONGVARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.javatribe.pojo.Home" >
    update home
    set home_id = #{homeId,jdbcType=INTEGER},
      project_img = #{projectImg,jdbcType=VARCHAR},
      group_img = #{groupImg,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>